# Bevigil
SUBSCAN_BEVIGIL_APIKEY=foo
# BinaryEdge
SUBSCAN_BINARYEDGE_APIKEY=bar
# BufferOver
SUBSCAN_BUFFEROVER_APIKEY=baz
# BuiltWith
SUBSCAN_BUILTWITH_APIKEY=foo
# Censys
SUBSCAN_CENSYS_APIKEY=bar
# CertSpotter
SUBSCAN_CERTSPOTTER_APIKEY=baz
# Chaos
SUBSCAN_CHAOS_APIKEY=foo
# Shodan
SUBSCAN_SHODAN_APIKEY=bar
# VirusTotal
SUBSCAN_VIRUSTOTAL_APIKEY=baz
# WhoisXMLAPI
SUBSCAN_WHOISXMLAPI_APIKEY=foo
# ZoomEye
SUBSCAN_ZOOMEYE_APIKEY=bar
# GitHub Access Token
SUBSCAN_GITHUB_APIKEY=baz
# Netlas
SUBSCAN_NETLAS_APIKEY=foo
